<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="./images/products/aru.png">
    <title>Contact - Appliance R us</title>
    <meta charset="utf-8" />
    <meta name="viewpoint" content="width=device-width,initial-scal=1.0">
    <meta http-equip="X-UA-compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="jquery.store.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <!-- NAVIGATION BAR -->
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="topnav">
                <a style="color:black;" class="active" href="../"><img src="../static/images/products/blApplianceRus_bla_70.jpg" alt="Index"
                    width="100" height="26"></a>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a style="color:black;" class="nav-link" href="../products/">Products</a>
                    </li>
                    <li class="nav-item">
                        <a style="color:black;" class="nav-link" href="../cart/">Cart</a>
                    </li>
                    
                    <li class="nav-item">
                        <a style="color:black;" class="nav-link" href="../about/">About Us</a>
                    </li>

                    <li class="nav-item">
                        <a style="color:black;" class="nav-link" href="../login/">Login</a>
                    </li>
                    </ul>
            </div>
        </nav>

        <section id="contact">

            <div class="container">
                <h1>Get In Touch</h1>
                <div class="row">
                    <div class="col-md-6">
                        <form class="contact-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name.." required>
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="Phone no." required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email.." required>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="4" placeholder="Message.." required></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary"
                                style="background-color: #3f48cc;">Submit</button>
                        </form>
                    </div>
                    <div class="col-md-6 contact-info">
                        <div class="follow"><b><i class="fa fa-map-marker"></i> </b>Appliance Road, Johannesburg, South Africa
                        </div>
                        <div class="follow"><b><i class="fa fa-mobile"></i> </b>(+27)11 017 9900</div>
                        <div class="follow"><b><i class="fa fa-envelope"></i> </b>enquiries@applianceRus.co.za</div>


                        <div class="follow"><label><b>Get Social </b></label>
                            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.youtube.com/"><i class="fa fa-youtube-play"></i></a>
                            <a href="https://twitter.com/login"><i class="fa fa-twitter"></i></a>
                            <a href="https://myaccount.google.com/"><i class="fa fa-google-plus"></i></a>

                        </div>
                    </div>
                </div>
            </div>

        </section>

<!-- FOOTER -->

    <section id="footer" style="margin-top: 40px; background-color: #3f48cc; padding-top: 30px;">
        <footer class="container">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-s6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="../static/images/products/blApplianceRus_bla_70.jpg" class="footer-logo" alt="Footer Logo"
                                width="150" height="76">
                                <p> </p>

                                <div class="widget-call">
                                    <i class="icon-phone"></i>
                                    <p>Questions? Call us 24/7</p>
                            
                                    <a href="tel:#" style="color: white;"> +2711 017 9900</a>
                                </div>
                            </div>
                        </div>
  
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->
                                <ul class="widget-list">
                                    <li><a href="../about/" style="color: white;">About the Company</a></li>
                                    <li><a href="../contact/" style="color: white;">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
  
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4>Customer Service</h4>
                                <ul class="widget-list">
                                <li><a href="#" style="color: white;">Payment Methods</a></li>
                                <li><a href="#" style="color: white;">Money-back guarantee!</a></li>
                                <li><a href="#" style="color: white;">Returns</a></li>
                                <li><a href="#" style="color: white;">Shipping</a></li>
                                <li><a href="#" style="color: white;">Terms and conditions</a></li>
                                <li><a href="#" style="color: white;">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
  
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->
                                <ul class="widget-list">
                                <li><a href="#" style="color: white;">Sign In</a></li>
                                <li><a href="cart.html" style="color: white;">View Cart</a></li>
                                <li><a href="#" style="color: white;">My Wishlist</a></li>
                                <li><a href="#" style="color: white;">Track My Order</a></li>
                                <li><a href="#" style="color: white;">Help</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  
            <div>
                <div class="container">
                    <p style="text-align:center;">Copyright © 2002 applianceRus eStore. All Rights Reserved.</p>
                    <figure style="float: right;">
                        <img src="../static/images/products/payments.png" alt="Payment methods" width="272" height="20">
                    </figure>
                </div>
            </div>
        </footer>
    </section>

</body>

</html>